<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBalNSYwGDXSFQX1pSLxYCEsV7IoApBp4E</string>
	<key>GCM_SENDER_ID</key>
	<string>431759184163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.couppleApp</string>
	<key>PROJECT_ID</key>
	<string>couple-app-5428a</string>
	<key>STORAGE_BUCKET</key>
	<string>couple-app-5428a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431759184163:ios:251b3795bda7b46fabbc96</string>
	<key>DATABASE_URL</key>
	<string>https://couple-app-5428a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>